.tr-loading {
    z-index: 99999999;
    padding: 5px 10px 5px 25px;
    color: #fff;
    position: fixed;
    top: 5px;
    left: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 13px -1px rgba(105,105,105,1);
    font-family: Arial !important;
    display: none;
    vertical-align: middle;
}

.tr-body {
    display: none;
    z-index: 99999999;
    background: #fff;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 450px;
    height: 250px;
    overflow-y: scroll;
    box-shadow: 0px 0px 13px -1px rgba(105,105,105,1);
    overflow: hidden;
    font-family: Arial !important;
}

.tr-def-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    color: #626262 !important;
    font-size: 14px !important;
}
.tr-body ul {
    list-style: none;
    max-height: 210px;
    margin: 0 auto;
    padding-left: 0;
    max-height: 210px;
}


.tr-body ul li.tr-def {
    border-bottom: 1px solid #dad1d1;
    padding: 10px 0;
    padding-left: 10px;
}

.tr-window{
    overflow: hidden;
}

.tr-header {
    padding: 8px;
    background: #0897ff;
    text-align: left !important;
}

.tr-word{
    font-size: 17px;
    font-weight: bold;
    color: white;
    width: 50%;
    text-transform: capitalize;
}

.tr-header .speaker{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: transparent url("./speaker.svg") center center no-repeat;
        background-size: auto;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
    border: none;
    position: relative;
    top: 8px;
    cursor: pointer;

}

.tr-phon{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(201, 234, 255);
    font-family: Arial !important;
    font-weight: 550;
}
.tr-pron{
    position: relative;
    margin-left: 5px;
}
.tr-pron i:hover{
    color: #fff;
    cursor: pointer;
}

.tr-defs{
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto !important;
}
.tr-defs .examples, .tr-defs .synonyms {
    display: block !important;
    margin-top: 8px !important;
    margin-left: 21px !important;
    text-align: left !important;
    font-size: 12px;
}

div.tr-def{
    font-weight: bold;
    text-align: left !important;
}

.tr-button {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    cursor: pointer;
    z-index: 2000000000 !important;
    position: absolute;
}
a.syn {
    margin: 6px;
    display: inline-block;
    margin: 3px 0;
    cursor: pointer;
    color: #0897ff !important;
}
a.syn:hover{
    text-decoration: underline !important;
}
.tr-pos {
    font-weight: bold;
    clear: both;
}

.tr-wrapper{
    position: absolute;

}
.tr-close {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.tr-close::before, .tr-close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: rgb(255, 255, 255);
}
.tr-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tr-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tr-close.fat::before, .tr-close.fat::after {
    border-radius: 100%;
}

.tr-body li.tr-did-you-mean:hover{
    cursor: pointer;
    text-decoration: underline;
}


.tr-input-search {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tr-search {
    width: 80%;
    margin: auto;
    padding: 15px;
    background: #eee;
    position: fixed;
    z-index: 999999999;
    left: 10%;
    box-shadow: 0px 0px 17px 0px #333;
    top: 50px;
    font-size: 18px;
}

.tr-search-wrapper {
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
}