.tr-loading {
    z-index: 99999999;
    padding: 5px 10px 5px 25px;
    color: #fff;
    position: fixed;
    top: 5px;
    left: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 13px -1px rgba(105, 105, 105, 1);
    font-family: Arial !important;
    display: none;
    vertical-align: middle;
}


#sm-dict-tr-main-template {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10000;
    background: #fff;
}

#sm-dict-tr-main-template * {
    line-height: normal;
    margin: 0;
    padding: 0;
    color: #333333;
}

#sm-dict-tr-main-template .tr-main-container {

    width: 500px;
    box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 1px 0 0 0;
    position: relative;

}

#sm-dict-tr-main-template .tr-main-container input {
    display: none;
}

#sm-dict-tr-main-template .tr-main-container input:checked + label {
    background: #fbfbfb;
    border-top: 1px solid #0897ff;
    color: #0897ff;

}

#sm-dict-tr-main-template .tr-main-container input#tab1:checked ~ .line {
    left: 0%;
}

#sm-dict-tr-main-template .tr-main-container input#tab1:checked ~ .tr-main-content-container #c1 {
    opacity: 1;
    z-index: 1000;
}

#sm-dict-tr-main-template .tr-main-container input#tab2:checked ~ .line {
    left: 25%;
}

#sm-dict-tr-main-template .tr-main-container input#tab2:checked ~ .tr-main-content-container #c2 {
    opacity: 1;
    z-index: 1000;

}

#sm-dict-tr-main-template .tr-main-container input#tab3:checked ~ .line {
    left: 50%;
}

#sm-dict-tr-main-template .tr-main-container input#tab3:checked ~ .tr-main-content-container #c3 {
    opacity: 1;
    z-index: 1000;

}

#sm-dict-tr-main-template .tr-main-container input#tab4:checked ~ .line {
    left: 75%;
}

#sm-dict-tr-main-template .tr-main-container input#tab4:checked ~ .tr-main-content-container #c4 {
    opacity: 1;
    z-index: 1000;

}

#sm-dict-tr-main-template .tr-main-container label {
    display: inline-block;
    line-height: 28px;
    text-align: center;
    color: #555;
    position: relative;
    transition: 0.25s background ease;
    cursor: pointer;
    font-size: 13px;
    padding: 0 15px;
}

#sm-dict-tr-main-template .tr-main-container label:hover {
    opacity: 1;
    color: #0897ff;
}

#sm-dict-tr-main-template .tr-main-container .tr-main-content-container {
    position: relative;
    height: 200px;
    font-size: 16px;
    background: #fbfbfb;
    padding: 0 15px;
    overflow: hidden;
}

#sm-dict-tr-main-template .tr-main-container .tr-main-content-container .tr-tab-content {
    position: absolute;
    height: 200px;
    padding: 0;
    top: 0;
    opacity: 0;
    transition: 0.25s ease;
    color: #333;
    overflow-y: auto;
    overflow-x: hidden;
    left: 10px;
}
#sm-dict-tr-main-template .tr-main-container .tr-main-content-container .tr-tab-content .sm-tr-tag-list{
    padding: 10px;
}

#sm-dict-tr-main-template .tr-main-container .tr-main-content-container .tr-tab-content h3 {
    font-weight: 200;
    margin: 10px 0;
}

#sm-dict-tr-main-template .tr-main-container .tr-main-content-container .tr-tab-content p {
    margin: 10px 0;
}

#sm-dict-tr-main-template .tr-main-container .tr-main-content-container .tr-tab-content p, .tr-main-container .tr-main-content-container .tr-tab-content i {
    font-size: 13px;
}

#sm-dict-tr-main-template .tr-body {
    width: 400px;
    border: 1px solid #eee;
}

#sm-dict-tr-main-template .tr-setting-btn {
    position: absolute;
    right: 11px;
    top: 15px;
    font-size: 16px;
    color: #0897fd;
}

#sm-dict-tr-main-template .tr-word {
    color: #333333;
    text-align: left;
    font-family: Arial, serif;
    text-transform: capitalize;
    margin: 15px 15px;
    font-size: 30px;
}

#sm-dict-tr-main-template .tr-word span.sm-tr-pos{
    font-size: 14px;
    margin-left: 20px;
    font-weight: normal;
}

#sm-dict-tr-main-template .tr-pron {
    margin: 0 0 18px 15px;
    text-align: left;
}

#sm-dict-tr-main-template .tr-pron .tr-pron-pho {
    margin: 0 20px 0 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#sm-dict-tr-main-template .tr-pron i {
    padding: 5px;
    margin: 0 5px;
    background: #eee;
    color: #626262;
    font-size: 10px;
    cursor: pointer;
    transition: 0.25s ease;

}

#sm-dict-tr-main-template .tr-pron i:hover {
    color: #0897ff;
}

#sm-dict-tr-main-template .tr-defs {
    font-family: Arial;
    padding-left: 5px;
    margin: 0;
}

#sm-dict-tr-main-template .tr-defs-list-item {
    list-style: none;
    padding: 10px 0;
    min-width: 100%;
}

#sm-dict-tr-main-template .tr-defs-list-item:last-child {
    border-bottom: none;
}

#sm-dict-tr-main-template .tr-defs-list-item h6 {
    padding: 0;
    margin: 5px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #7e7e7e;
    transition: 0.25s ease;
    text-transform: uppercase;
}
#sm-dict-tr-main-template .tr-defs-list-item h6:hover {
    color: #4778f4;
}

#sm-dict-tr-main-template .tr-defs-list-item li {
    font-size: 13px;
    list-style: square;
    margin: 5px 21px;
    min-width: 100%;
}

#sm-dict-tr-main-template .tr-def {
    margin: 3px 0;
    font-weight: bold;
    font-size: 15px;
    color:#0457b0;
}

#sm-dict-tr-main-template .tr-example-list {
    margin: 10px 0 0 0;
    transition: 0.25s ease;

}

#sm-dict-tr-main-template .tr-main-content-container ul {
    list-style: none;
    transition: 0.25s ease;
}

#sm-dict-tr-main-template .tr-main-content-container li {
    display: inline-block;
    padding: 4px;
    font-family: Arial;
    font-size: 13px;
    margin: 10px 0 0 0;
}

#sm-dict-tr-main-template .tr-main-content-container li a {
    text-decoration: none;

}

#sm-dict-tr-main-template .tr-main-content-container li a:hover {
    color: #4482fd;
    border: 1px solid #4482fd;
}

.sm-tr-selected-button {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 100000;
    cursor: pointer;
    display: none;

}

.sm-tr-loading {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 4px 4px 4px 30px;
    color: #fff;
    z-index: 1000000;
    display: none;
}

#sm-dict-tr-main-template .tr-defs-list-item h6 ~ ul {
    display: none;
    margin: 2px 0 10px 8px;
}

#sm-dict-tr-main-template .tr-defs-list-item h6 ~ ul li{
    margin: 0 0 0 20px;
}
/*#sm-dict-tr-main-template .tr-defs-list-item h6 ~ ul li:before :not(.sm-tr-tag){*/
/*    content: '⏺ ';*/
/*    margin-right: 4px;*/
/*    font-weight: bold;*/
/*    color: #757575;*/
/*}*/
/*#sm-dict-tr-main-template .tr-defs-list-item h6 ~ ul li.sm-tr-tag::before {*/
/*    content: '';*/
/*}*/

#sm-dict-tr-main-template .tr-defs-list-item h6#closed-title:before {
    content: "\23F5 ";
    margin-right: 2px;
}

#sm-dict-tr-main-template .tr-defs-list-item h6#opened-title:before {
    content: "\23F7 ";
    margin-right: 2px;
}

#sm-dict-tr-main-template .tr-defs-list-item .tr-coll-list h6 ~ ul li {
    display: inline;
}

#sm-dict-tr-main-template .tr-defs-list-item ul > h6 {
    margin-left: 10px;
    margin-bottom: 10px;
}
#sm-dict-tr-main-template .tr-main-content-container .sm-tr-tag {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 15px 4px;
    color: #1a78fd;
    text-transform: capitalize;
}
#sm-dict-tr-main-template ul.tr-example-list li {
    display: inline-block;
    color: #0042a0;
}
#sm-dict-tr-main-template ul.tr-example-list li:before {
    content: '⏺ ';
    margin-right: 4px;
    font-weight: bold;
    color: #757575;
}