.tr-loading {
    background: url("images/loading.gif") 10px 10px no-repeat #2092cc;
    display: none;
    z-index: 99999999;
    padding: 10px 15px 10px 38px;
    color: #fff;
    position: fixed;
    top: 5px;
    left: 5px;
    font: tahoma 12px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,.09)
}

.tr-body {
    display: none;
    z-index: 99999999;
    background: #fff;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 450px;
    height: 250px;
    overflow-y: scroll;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    overflow: hidden;
    -webkit-box-shadow: 10px 9px 27px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 27px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 27px -17px rgba(0,0,0,0.75);
}

.tr-def-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}
.tr-body ul {
    padding-left: 10px;
    max-height: 185px;
}

.tr-body ul li {
    padding: 5px;
}

.tr-body ul li.tr-def {
    border-bottom: 1px solid #dad1d1;
}

.tr-body ul li.examples {
    background: url("images/right-arrow.png") 0 10px no-repeat;
    list-style-type: none;
    padding-left: 17px;
}

.tr-window{
    overflow: hidden;
}

.tr-body ul {
    list-style: disc
}
.tr-header {

    padding: 8px;
    background: #0897ff;
}
.tr-word{
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 50%
}

.tr-pos{

}

.tr-pron{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(226, 226, 226);
}

.tr-defs{
    height: 100%;
    overflow-y: scroll;
}
.tr-defs .extra span {
    display: block;
}
.tr-button {
    width: 24px;
    height: 24px;
    background: url("images/language.svg") no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
    z-index: 2000000000 !important;
    position: absolute;
}
a.syn {
    padding: 2px;
    background: #eee;
    border: 1px solid #ccc;
    margin: 6px;
    display: inline-block;
    margin: 3px 0;
    cursor: pointer;
}
.tr-pos {
    font-weight: bold;
    clear: both;
}

.tr-wrapper{
    position: absolute;

}
.tr-close {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.tr-close:hover::before, .tr-close:hover::after {
    /* background: #1ebcc5; */
}

.tr-close::before, .tr-close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: rgb(255, 255, 255);
}
.tr-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tr-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tr-close.fat::before, .tr-close.fat::after {
    border-radius: 100%;
}

.tr-body li.tr-did-you-mean:hover{
    cursor: pointer;
    text-decoration: underline;
}